<div class="container">
  <form class="main-container shadow p-3 mb-5 rounded">
    <div class="form-group row">
      <h1 class="w-100">{{ 'registration.title' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          [(ngModel)]="email"
          name="email"
          placeholder="{{ 'registration.email' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="inputFirstName"
          [(ngModel)]="firstname"
          name="firstname"
          placeholder="{{ 'registration.firstname' | translate }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          [(ngModel)]="password"
          name="password"
          placeholder="{{ 'registration.password' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="inputLastName"
          [(ngModel)]="lastname"
          name="lastname"
          placeholder="{{ 'registration.lastname' | translate }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input
          type="password"
          class="form-control"
          id="inputPassword2"
          [(ngModel)]="passwordAgain"
          name="passwordAgain"
          placeholder="{{ 'registration.password_again' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="inputCountry"
          [(ngModel)]="country"
          name="country"
          placeholder="{{ 'registration.country' | translate }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="inputStrett"
          [(ngModel)]="street"
          name="street"
          placeholder="{{ 'registration.street' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="inputCity"
          [(ngModel)]="city"
          name="city"
          placeholder="{{ 'registration.city' | translate }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="inputStreetNumber"
          [(ngModel)]="streetNumber"
          name="streetNumber"
          placeholder="{{ 'registration.street_number' | translate }}"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button
          type="submit"
          class="btn btn-outline-light btn-lg register-button"
          (click)="register()"
        >
          {{ 'registration.sign_up' | translate }}
        </button>
      </div>
    </div>
    <a href="login">{{ 'registration.back_to_login' | translate }}</a>
  </form>
</div>
