<h1 class="page-title">Messages</h1>
<div class="container messages-container">
  <div class="row" style="background-color: rgba(255, 255, 255, 0.7);">
    <input
      type="button"
      class="btn btn-dark btn-lg"
      value="Find user"
      (click)="openFindUserToMessageModal()"
      style="margin: 1% 0 2% 1%;"
    />
  </div>
  <div class="row message-block" (click)="asd()">
    <div class="name-div">Komuves Tamas (komuves.tomi@gmail.com)</div>
    <div class="message-text">
      Csa tesam mi a h veled, elmondhewfwefwef wefwef ewf wef atatlanul fewefw mint gr gefwwefwefwefwefwefw ef
      wef wef wefr ggr gr ge regerg erger gerg ea cccd dilomilomalom! gondolkodj el ezen :* :*
    </div>
    <div class="message-date">2019-08-09 15:20:12</div>
  </div>
  <div class="row message-block" (click)="asd()">
    <div class="name-div">Komuves Tamas (komuves.tomi@gmail.com)</div>
    <div class="message-text">
      Csa tesam mi a h veled, elmondhewfwefwef wefwef ewf wef atatlanul fewefw mint gr gefwwefwefwefwefwefw ef
      wef wef wefr ggr gr ge regerg erger gerg ea cccd dilomilomalom! gondolkodj el ezen :* :*
    </div>
    <div class="message-date">2019-08-09 15:20:12</div>
  </div>
</div>
<app-find-user-to-message-modal></app-find-user-to-message-modal>
