<h1 class="page-title">Messages</h1>
<div class="container messages-container">
  <div class="row" style="background-color: rgba(255, 255, 255, 0.7);">
    <input
      type="button"
      class="btn btn-dark btn-lg"
      value="Find user"
      (click)="openFindUserToMessageModal()"
      style="margin: 1% 0 2% 1%;"
    />
  </div>
  <div class="message-block" *ngFor="let chatMessage of chatMessages">
    <app-messages-container-block [chatMessage]="chatMessage"></app-messages-container-block>
  </div>
</div>
<app-find-user-to-message-modal></app-find-user-to-message-modal>
