<h1 class="page-title">Messages</h1>
<div class="container messages-container">
  <div class="row" style="background-color: rgba(255, 255, 255, 0.7);">
    <input
      type="button"
      class="btn btn-dark btn-lg"
      value="Find user"
      (click)="openFindUserToMessageModal()"
      style="margin: 1% 0 2% 1%;"
    />
  </div>
  <div
    class="row message-block"
    (click)="openChatPage('komuves.tomi@gmail.com')"
    *ngFor="let chatMessage of chatMessages"
  >
    <div class="name-div" *ngIf="partner">
      {{ partner.firstName }} {{ partner.lastName }} {{ partner.email }}
    </div>
    <div class="message-text">
      {{ chatMessage.text }}
    </div>
    <div class="message-date">{{ chatMessage.date | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
  </div>
</div>
<app-find-user-to-message-modal></app-find-user-to-message-modal>
