<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn">
  <a class="navbar-brand text-light">{{ 'navbar.app_title' | translate }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showHome()">
          {{ 'navbar.home' | translate }}
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showEvents()">
          {{ 'navbar.events' | translate }}
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showMessagesContainer()">
          {{ 'navbar.messages' | translate }}
          <span
            class="badge badge-pill badge-light"
            *ngIf="messageCounter !== 0"
            style="float:right;"
          >
            {{ messageCounter }}</span
          >
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showCreateEvent()">
          {{ 'navbar.create_event' | translate }}
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showNotifications()">
          {{ 'navbar.notifications' | translate }}
          <span
            class="badge badge-pill badge-light"
            *ngIf="notificationCounter !== 0"
            style="float:right;"
          >
            {{ notificationCounter }}</span
          >
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showSettings()">
          {{ 'navbar.settings' | translate }}
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="logout()">
          {{ 'navbar.logout' | translate }}
        </button>
      </li>
    </ul>
  </div>
</nav>
