<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-light">Event organizer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="show-events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="create-event">Create event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="notifications">Notifications</a>
      </li>
      <li class="nav-item dropdown my-2 my-lg-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="profile-settings">Settings</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ng-href="login" ng-click="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
