<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn">
  <a class="navbar-brand text-light">Event organizer</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showHome()">Home</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showEvents()">Events</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showMessagesContainer()">
          Messages
          <span
            class="badge badge-pill badge-light"
            *ngIf="messageCounter !== 0"
            style="float:right;"
          >
            {{ messageCounter }}</span
          >
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showCreateEvent()">
          Create event
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" type="button" (click)="showNotifications()">
          Notifications
          <span
            class="badge badge-pill badge-light"
            *ngIf="notificationCounter !== 0"
            style="float:right;"
          >
            {{ notificationCounter }}</span
          >
        </button>
      </li>
      <li class="nav-item dropdown my-2 my-lg-0">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button class="dropdown-item" type="button" (click)="showSettings()">Settings</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
