<div class="container">
  <div class="name">
    <h1>Komuves Tamas</h1>
  </div>
  <div
    [ngClass]="message.isCurrentUserSent ? 'row own-message' : 'row other-message'"
    *ngFor="let message of messages"
  >
    <div class="message-box">
      {{ message.text }}
    </div>
    <div class="date">
      {{ message.dateSent }}
    </div>
  </div>
  <div class="row">
    <input class="message-input" type="text" [(ngModel)]="newMessageText" placeholder="Write a message..." />
    <input type="button" value="Send" (click)="sendMessage()" />
  </div>
</div>
