.main-content {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1% 2% 2% 3%;
  text-align: left;
}

.scrollbar-div {
  overflow-y: scroll;
  height: 50vh;
}

.message-box {
  padding: 1%;
  border-radius: 20px;
  display: inline-block;
}

.own-message > .message-box {
  margin-right: 55%;
  background-color: blue;
}

.other-message > .message-box {
  margin-left: 50%;
  background-color: gray;
}

.other-message > .date {
  margin-left: 50%;
}

.name {
  text-align: center;
  margin-bottom: 4%;
  border-bottom: 1px solid white;
  padding-bottom: 2%;
}

.date {
  margin-bottom: 2%;
}

.message-input {
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
}
