<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="main-content col-lg-6">
      <div class="name">
        <h2>{{ partnerName }}</h2>
      </div>
      <div class="scrollbar-div" #scrollbarDiv>
        <div style="padding: 3% 3% 1% 3%;">
          <div class="row" *ngFor="let message of messages">
            <div [ngClass]="isCurrentUserSent(message) ? 'col own-message' : 'col other-message'">
              <div class="message-box">
                {{ message.text }}
              </div>
              <div class="date">
                {{ message.date | date: 'yyyy-MM-dd HH:mm:ss' }}
              </div>
            </div>
          </div>
          <div>
            <form>
              <input
                class="message-input"
                type="text"
                autofocus
                name="newMessageText"
                [(ngModel)]="newMessageText"
                placeholder="{{ 'chat_messages.write_message' | translate }}"
              />
              <button type="submit" (click)="sendMessage()">
                {{ 'chat_messages.send' | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg"></div>
  </div>
</div>
