.main-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 7% 7% 2% 7%;
}

.sign-in-button {
  margin-top: 5%;
  margin-bottom: 2%;
}

.btn-mini {
  height: auto;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

select.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.or-div {
  margin-bottom: 2%;
}
