<div class="post-block shadow p-3 mb-5 rounded border">
  <div class="small font-weight-bold">{{ posterName }}: {{ date | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
  <div class="form-control-static border" style="text-align: left; padding: 1%; margin: 1%;">
    {{ text }}
  </div>
  <div>
    <span class="small font-weight-bold"> {{ numberOfLikes }} people liked this </span>
    <button type="button" class="btn btn-info btn-sm" [disabled]="isCurrentUserLiked" (click)="likePost()">
      Like
    </button>
    <div style="text-align: left;">
      <button
        type="button"
        *ngIf="isAnyComment"
        class="btn btn-outline-light btn-sm"
        (click)="toggleCommentVisibility()"
        style="margin-right: 2%;"
      >
        {{ showCommentsText }}
      </button>
    </div>
    <div *ngIf="isShowComments || !isAnyComment">
      <div style="margin-bottom: 4%;">
        <div *ngFor="let comment of comments">
          <app-comment-block [commentId]="comment.id"></app-comment-block>
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        style="border: 1px gray solid;"
        [(ngModel)]="commentText"
        placeholder="Write a comment..."
      />
      <div style="text-align: left; margin-top: 2%;">
        <button type="button" class="btn btn-outline-light btn-sm" (click)="sendComment()">
          Send comment
        </button>
      </div>
    </div>
  </div>
</div>
