<div class="container border event-block">
  <ngx-spinner
    bdOpacity="0.2"
    bdColor="rgba(0,0,0,0.52)"
    size="medium"
    color="#010101"
    type="ball-scale-multiple"
    [fullScreen]="false"
    [name]="spinnerName"
  >
    <p style="color: white">{{ 'loading' | translate }}...</p>
  </ngx-spinner>
  <div class="row">
    <div class="col-sm">
      <strong>{{ 'event_block.event_name' | translate }}:</strong> {{ name }}
    </div>
    <div class="col-sm">
      <strong>{{ 'event_block.date' | translate }}:</strong> {{ date | date: 'yyyy-MM-dd HH:mm' }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <strong>{{ 'event_block.organizer' | translate }}:</strong> {{ organizerName }}
    </div>
    <div class="col-sm">
      <strong>{{ 'event_block.number_of_participants' | translate }}:</strong>
      {{ numberOfParticipants }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <strong>{{ 'event_block.type' | translate }}:</strong> {{ type }}
    </div>
    <div class="col-sm">
      <strong>{{ 'event_block.location' | translate }}:</strong> {{ location }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <strong>{{ 'event_block.visibility' | translate }}:</strong> {{ visibility | translate }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm event-buttons">
      <button
        type="submit"
        class="btn btn-outline-light sign-in-button btn-sm"
        *ngIf="isParticipate"
        (click)="showEventDetails()"
      >
        {{ 'event_block.show_event_details' | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-outline-light sign-in-button btn-sm"
        [disabled]="!hasMorePlace || hasRequest"
        *ngIf="!isPublic && !isParticipate && isParticipateLoaded"
        (click)="requestInvitation()"
      >
        {{ 'event_block.request_invitation' | translate }}
      </button>
      <button
        type="submit"
        class="btn btn-outline-light sign-in-button btn-sm"
        [disabled]="!hasMorePlace"
        *ngIf="isPublic && !isParticipate && isParticipateLoaded"
        (click)="joinEvent()"
      >
        {{ 'event_block.join' | translate }}
      </button>
    </div>
  </div>
</div>
