<ngx-smart-modal #eventParticipantsModal identifier="eventParticipantsModal" style="color: black;">
  <h3 style="margin-bottom: 10%;">{{ 'event_participants_modal.title' | translate }}</h3>
  <ul style="text-align: left">
    <div *ngFor="let participant of participants">
      <button
        class="btn btn-outline-danger btn-sm"
        (click)="removeParticipant(participant.email)"
        [disabled]="participant.email === organizerEmail"
        *ngIf="isCurrentUserOrganizer"
      >
        X
      </button>
      {{ participant.firstName }} {{ participant.lastName }} ({{ participant.email }})
    </div>
  </ul>
</ngx-smart-modal>
