<ngx-smart-modal #findUserToMessageModal identifier="findUserToMessageModal" style="color: black;">
  <div class="container">
    <input
      type="text"
      placeholder="{{ 'chat_messages.enter_user_name' | translate }}"
      style="margin-bottom: 3%;"
      [(ngModel)]="searchedName"
      (keyup)="searchedNameChanged()"
    />
    <div *ngFor="let suggestedUser of suggestedUsers">
      <div class="user-block" (click)="openChatpage(suggestedUser.email)">
        {{ suggestedUser.firstName }} {{ suggestedUser.lastName }} ({{ suggestedUser.email }} )
      </div>
    </div>
  </div>
</ngx-smart-modal>
