<h1 class="page-title">{{ 'event_properties.create_event_page_title' | translate }}</h1>
<div class="container">
  <form class="main-container">
    <div class="form-group row">
      <div class="col-sm-6">
        {{ 'event_properties.event_name' | translate }}
        <input
          type="text"
          class="form-control"
          [(ngModel)]="name"
          name="name"
          placeholder="{{ 'event_properties.event_name' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        {{ 'event_properties.event_type' | translate }}
        <input
          type="text"
          class="form-control"
          [(ngModel)]="type"
          name="type"
          placeholder="{{ 'event_properties.event_type' | translate }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        {{ 'event_properties.max_participants' | translate }}
        <input
          type="text"
          class="form-control"
          [(ngModel)]="maxParticipants"
          name="maxParticipants"
          placeholder="{{ 'event_properties.max_participants' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        {{ 'event_properties.visibility' | translate }}
        <select class="form-control" [(ngModel)]="visibility" name="visibility">
          <option [value]="" disabled>Visibility</option>
          <option [value]="visibility" *ngFor="let visibility of visibilities">{{
            visibility | translate
          }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        {{ 'event_properties.country' | translate }}
        <input
          type="text"
          class="form-control"
          id="inputCountry"
          [(ngModel)]="country"
          name="country"
          placeholder="{{ 'event_properties.country' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        {{ 'event_properties.city' | translate }}
        <input
          type="text"
          class="form-control"
          id="inputCity"
          [(ngModel)]="city"
          name="city"
          placeholder="{{ 'event_properties.city' | translate }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        {{ 'event_properties.street' | translate }}
        <input
          type="text"
          class="form-control"
          id="inputStreet"
          [(ngModel)]="street"
          name="street"
          placeholder="{{ 'event_properties.street' | translate }}"
        />
      </div>
      <div class="col-sm-6">
        {{ 'event_properties.street_number' | translate }}
        <input
          type="text"
          class="form-control"
          id="inputStreetNumber"
          [(ngModel)]="streetNumber"
          name="streetNumber"
          placeholder="{{ 'event_properties.street_number' | translate }}"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="md-form">
          {{ 'event_properties.description' | translate }}
          <textarea
            type="text"
            class="md-textarea form-control"
            rows="3"
            [(ngModel)]="description"
            name="description"
            placeholder="{{ 'event_properties.description' | translate }}"
          ></textarea>
        </div>
      </div>
      <div class="col-sm-6">
        {{ 'event_properties.event_date' | translate }} <br />
        <div class="form-control">
          {{ eventDate | date: 'yyyy-MM-dd HH:mm:ss' }}
        </div>
        <button
          class="btn btn-dark dropdown-toggle date-dropdown"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="oi oi-calendar"></i>
        </button>
        <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
          <div style="background-color: white;">
            <dl-date-time-picker
              [(ngModel)]="eventDate"
              (change)="dateSelected($event)"
              startView="year"
              name="eventDate"
            ></dl-date-time-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm"></div>
      <div class="col-sm" style="text-align: center;">
        <button
          type="submit"
          class="btn btn-outline-light btn-lg create-button"
          [disabled]="!isCreateButtonClickable"
          (click)="createEvent()"
        >
          {{ 'event_properties.create_button' | translate }} <br />
        </button>
      </div>
      <div class="col-sm"></div>
    </div>
  </form>
</div>
<ngx-spinner
  bdOpacity="0.2"
  bdColor="rgba(0,0,0,0.52)"
  size="medium"
  color="#010101"
  type="ball-scale-multiple"
  ><p style="color: white">{{ 'loading' | translate }}...</p></ngx-spinner
>
