.main-container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 3%;
}

.form-group {
  margin-bottom: 3%;
}

.create-button {
  margin-top: 4%;
}
