<h1 class="page-title" style="margin-bottom: 3%;">Events</h1>
<div class="container" style="text-align: left; margin-left: 5%;">
  <div class="row">
    <div class="col-sm-3">
      <div class="left-panel border">
        Search events by type <br />
        <select class="custom-select" [(ngModel)]="selectedEventType" style="margin: 6% auto;">
          <option selected>all</option>
          <option [value]="eventType.type" *ngFor="let eventType of eventTypes">{{ eventType.type }}</option>
        </select>
        <br />
        Events filter
        <div style="margin-top: 5%;">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="isShowOnlyEventsWhereParticipate"
              id="customCheck1"
            />
            <label class="custom-control-label" for="customCheck1">Only where participate</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="isShowOnlyPublicEvents"
              id="customCheck2"
            />
            <label class="custom-control-label" for="customCheck2">Only public events</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="isShowOnlyOwnEvents"
              id="customCheck3"
            />
            <label class="custom-control-label" for="customCheck3">Only own events</label>
          </div>
          <button type="button" class="btn btn-outline-light" id="search-button" (click)="showEventsByType()">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div *ngFor="let event of eventsToShow">
        <app-event-block [eventId]="event.id"></app-event-block>
      </div>
    </div>
  </div>
</div>
