<h1 class="page-title">{{ 'events.title' | translate }}</h1>
<div class="container" style="text-align: left; margin-left: 5%;">
  <div class="row">
    <div class="col-sm-3">
      <div class="left-panel border">
        {{ 'events.event_filters' | translate }}
        <div style="margin-top: 5%;">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="isShowOnlyEventsWhereParticipate"
              id="customCheck1"
            />
            <label class="custom-control-label" for="customCheck1">{{
              'events.only_where_participate' | translate
            }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="isShowOnlyPublicEvents"
              id="customCheck2"
            />
            <label class="custom-control-label" for="customCheck2">{{
              'events.only_public_events' | translate
            }}</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              [(ngModel)]="isShowOnlyOwnEvents"
              id="customCheck3"
            />
            <label class="custom-control-label" for="customCheck3">{{
              'events.only_own_events' | translate
            }}</label>
          </div>
        </div>
        {{ 'events.search_events_by' | translate }}
        <ul class="nav nav-tabs" style="margin-top: 2%;">
          <li class="nav-item">
            <a
              class="nav-link btn-outline-light btn-sm active show"
              data-toggle="tab"
              href="#typePane"
              >{{ 'events.search_events_by_type' | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-light btn-sm" data-toggle="tab" href="#namePane">{{
              'events.search_events_by_name' | translate
            }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-light btn-sm" data-toggle="tab" href="#nearbyPane">{{
              'events.search_events_by_nearby' | translate
            }}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="typePane" class="tab-pane fade active show">
            <div style="margin: 6% auto;">
              <select class="custom-select" [(ngModel)]="selectedEventType">
                <option selected value="all">{{ 'events.all' | translate }}</option>
                <option [value]="eventType.type" *ngFor="let eventType of eventTypes">{{
                  eventType.type
                }}</option>
              </select>
            </div>
            <button
              type="button"
              class="btn btn-outline-light"
              id="search-button"
              (click)="searchEventsByType()"
            >
              {{ 'events.search' | translate }}
            </button>
          </div>
          <div id="namePane" class="tab-pane fade">
            <div style="margin: 6% auto;">
              <input
                type="text"
                name="eventNameInput"
                id="eventNameInput"
                placeholder="{{ 'events.event_name' | translate }}"
                [(ngModel)]="eventNameToSearch"
              />
            </div>
            <button
              type="button"
              class="btn btn-outline-light"
              id="search-button"
              (click)="searchEventsByName()"
            >
              {{ 'events.search' | translate }}
            </button>
          </div>
          <div id="nearbyPane" class="tab-pane fade">
            <button
              type="button"
              class="btn btn-outline-light"
              id="search-button"
              (click)="searchEventsByAddress()"
              style="margin: 6% auto;"
            >
              {{ 'events.search' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div *ngFor="let event of eventsToShow | slice: 0:numberOfEventsToShow">
        <app-event-block [eventId]="event.id"></app-event-block>
      </div>
      <div style="background-color: rgba(0,0,0,0.9); margin-bottom: 3%;">
        <input
          *ngIf="eventsToShowLength > numberOfEventsToShow"
          type="button"
          class="btn btn-outline-light btn-block"
          value="{{ 'events.show_more' | translate }}"
          (click)="showMoreEvents()"
        />
      </div>
    </div>
  </div>
</div>
