<ngx-smart-modal #modifyEventInfoModal identifier="modifyEventInfoModal" style="color: black;">
  <h3 style="margin-bottom: 10%;">{{ 'event_properties.modify_page_title' | translate }}</h3>
  <div class="container" *ngIf="event && address" style="text-align: left;">
    <form class="main-container">
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="name">{{ 'event_properties.event_name' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.name"
            name="name"
            id="name"
            placeholder="{{ 'event_properties.event_name' | translate }}"
          />
        </div>
        <div class="col-sm-6">
          <label for="eventType">{{ 'event_properties.event_type' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.eventType"
            name="eventType"
            id="eventType"
            placeholder="{{ 'event_properties.event_type' | translate }}"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="maxParticipant">{{ 'event_properties.max_participants' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.maxParticipant"
            id="maxParticipant"
            name="maxParticipant"
            placeholder="{{ 'event_properties.max_participants' | translate }}"
          />
        </div>
        <div class="col-sm-6">
          <label for="visibility">{{ 'event_properties.visibility' | translate }}</label>
          <select
            class="form-control"
            [(ngModel)]="event.visibility"
            name="visibility"
            id="visibility"
          >
            <option [value]="" disabled>{{ 'event_properties.visibility' | translate }}</option>
            <option [value]="visibility" *ngFor="let visibility of visibilities">
              {{ visibility | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="country">{{ 'event_properties.country' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="address.country"
            id="country"
            name="country"
            placeholder="{{ 'event_properties.country' | translate }}"
          />
        </div>
        <div class="col-sm-6">
          <label for="city">{{ 'event_properties.city' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="address.city"
            name="city"
            id="city"
            placeholder="{{ 'event_properties.city' | translate }}"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="street">{{ 'event_properties.street' | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="street"
            id="street"
            [(ngModel)]="address.street"
            placeholder="{{ 'event_properties.street' | translate }}"
          />
        </div>
        <div class="col-sm-6">
          <label for="streetNumber">{{ 'event_properties.street_number' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="address.streetNumber"
            id="streetNumber"
            name="streetNumber"
            placeholder="{{ 'event_properties.street_number' | translate }}"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <div class="md-form">
            <label for="description">{{ 'event_properties.description' | translate }}</label>
            <textarea
              type="text"
              class="md-textarea form-control"
              rows="3"
              [(ngModel)]="event.description"
              name="description"
              id="description"
              placeholder="{{ 'event_properties.description' | translate }}"
            ></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="eventDate">{{ 'event_properties.event_date' | translate }}</label>
          <div class="form-control">
            {{ event.eventDate | date: 'yyyy-MM-dd HH:mm:ss' }}
          </div>
          <button
            class="btn btn-outline-dark dropdown-toggle date-dropdown"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="oi oi-calendar"></i>
          </button>
          <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
            <div style="background-color: white;">
              <dl-date-time-picker
                [(ngModel)]="event.eventDate"
                (change)="dateSelected($event)"
                startView="year"
                name="eventDate"
              ></dl-date-time-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button
            type="submit"
            [disabled]="!isLoaded"
            class="btn btn-outline-dark btn-lg"
            (click)="modifyEventInfo()"
          >
            {{ 'event_properties.modify_button' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>
<ngx-spinner
  bdOpacity="0.2"
  bdColor="rgba(0,0,0,0.52)"
  size="medium"
  color="#010101"
  type="ball-scale-multiple"
  [fullScreen]="false"
>
  <p style="color: white">{{ 'loading' | translate }}...</p>
</ngx-spinner>
