.container {
  text-align: left;
}

.participant-div,
.info-div,
.rate-div {
  background-color: rgba(0, 0, 0, 0.8);
}

.info-div > p > span {
  font-weight: bold;
}

.participant-div li {
  margin-bottom: 5%;
}

button {
  margin-right: 2%;
}

.main-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 4%;
  margin-bottom: 10%;
}

h1 {
  overflow-wrap: break-word;
}
