<h1 class="page-title">{{ name }}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="participant-div shadow p-3 mb-5 rounded border">
        <span style="font-weight: bold;">Participants</span>
        <ul *ngFor="let participant of participants | slice: 0:5" style="margin-top: 3%;">
          <li>{{ participant.firstName }} {{ participant.lastName }}</li>
        </ul>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="openEventParticipantsModal()"
        >
          Show all participants
        </button>
        <br />
        <br />
        <div *ngIf="visibility === 'restricted' || visibility === 'private'">
          <form>
            <div style="margin-bottom: 8%; font-weight: bold;">Invitations</div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="invitedUserEmail"
              name="invitedUserEmail"
              placeholder="Invitee's email"
              style="margin-bottom: 7%;"
            />
            <button type="submit" class="btn btn-outline-light btn-sm" (click)="inviteUser()">
              Invite user
            </button>
          </form>
          <br />
          <br />
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="openInvitationOffersModal()"
          >
            Show invitees
          </button>
          <br />
          <br />
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            *ngIf="visibility === 'restricted'"
            (click)="openViewRequestsModal()"
          >
            View requests
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-6" style="background-color: rgba(0,0,0,0.8); padding-top: 2%;">
      <div style="margin-bottom: 12%;">
        <div class="md-form" style="margin-bottom: 3%;">
          <textarea
            type="text"
            [(ngModel)]="newPostText"
            class="md-textarea form-control"
            rows="3"
            placeholder="Write a post..."
          ></textarea>
        </div>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="sendPost()">
          Send
        </button>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="openPollCreatorModal()">
          Create a poll
        </button>
      </div>
      <div *ngFor="let news of newsList | slice: 0:numberOfNewsToShow">
        <app-poll-block *ngIf="news.type === 'POLL'" [pollId]="news.id"></app-poll-block>
        <app-post-block *ngIf="news.type === 'POST'" [postId]="news.id"></app-post-block>
      </div>
      <div style="background-color: rgba(0,0,0,0.9); margin-bottom: 3%;">
        <input
          *ngIf="newsLength > this.numberOfNewsToShow"
          type="button"
          class="btn btn-outline-light btn-block"
          (click)="showMoreNews()"
          value="Load more..."
        />
      </div>
    </div>

    <div class="col-sm-3">
      <div class="info-div shadow p-3 mb-5 rounded border">
        <p class=""><span>Event info</span></p>
        <p><span>Name:</span> {{ name }}</p>
        <p><span>Type:</span> {{ type }}</p>
        <p><span>Date:</span> {{ date | date: 'yyyy-MM-dd HH:mm' }}</p>
        <p><span>Address:</span> {{ address }}</p>
        <p><span>Description:</span> {{ description }}</p>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          *ngIf="isOrganizer"
          (click)="openModifyEventInfoModal()"
        >
          Modify
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          *ngIf="isOrganizer"
          (click)="deleteEvent()"
        >
          Delete event
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          *ngIf="!isOrganizer"
          (click)="leaveEvent()"
        >
          Leave event
        </button>
      </div>
    </div>
  </div>
</div>
<app-view-request-modal [eventId]="eventId"></app-view-request-modal>
<app-invitation-offers-modal [eventId]="eventId"></app-invitation-offers-modal>
<app-event-participants-modal
  [eventId]="eventId"
  [organizerEmail]="organizerEmail"
></app-event-participants-modal>
<app-modify-event-info-modal [eventId]="eventId"></app-modify-event-info-modal>
<app-poll-creator-modal [eventId]="eventId"></app-poll-creator-modal>
