<h1 class="page-title">{{ name }}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="participant-div shadow p-3 mb-3 rounded border">
        <span style="font-weight: bold;">{{ 'event_page.participants' | translate }}</span>
        <ul *ngFor="let participant of participants | slice: 0:5" style="margin-top: 3%;">
          <li>{{ participant.firstName }} {{ participant.lastName }}</li>
        </ul>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="openEventParticipantsModal()"
        >
          {{ 'event_page.show_all_participants' | translate }}
        </button>
        <br />
        <br />
        <div *ngIf="visibility === 'restricted' || visibility === 'private'">
          <form>
            <div style="margin-bottom: 8%; font-weight: bold;">
              {{ 'event_page.invitations' | translate }}
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="invitedUserEmail"
              name="invitedUserEmail"
              placeholder="{{ 'event_page.invitee_email' | translate }}"
              style="margin-bottom: 7%;"
            />
            <button type="submit" class="btn btn-outline-light btn-sm" (click)="inviteUser()">
              {{ 'event_page.invite_user' | translate }}
            </button>
          </form>
          <br />
          <br />
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="openInvitationOffersModal()"
          >
            {{ 'event_page.show_invitees' | translate }}
          </button>
          <br />
          <br />
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            *ngIf="visibility === 'restricted'"
            (click)="openViewRequestsModal()"
          >
            {{ 'event_page.view_requests' | translate }}
          </button>
        </div>
      </div>
      <div class="rate-div shadow p-3 mb-5 rounded border" *ngIf="isOrganizer === false">
        <div style="margin-bottom: 8%; font-weight: bold;">
          {{ 'event_page.rate_event_title' | translate }}
        </div>
        <form>
          10 /<input
            type="number"
            style="margin-left: 5%; margin-bottom: 3%;"
            min="1"
            max="10"
            step="0.5"
            [(ngModel)]="eventRating"
            name="eventRating"
          />
          <button
            type="submit"
            class="btn btn-outline-light btn-sm"
            (click)="rateEvent()"
            style="margin-top: 5%; margin-bottom: 3%;"
          >
            {{ 'event_page.rate_event_button' | translate }}
          </button>
          <div *ngIf="isAlreadyRated === true">({{ 'event.already_rated' | translate }})</div>
          <div *ngIf="isAlreadyRated === false">({{ 'event.not_rated_yet' | translate }})</div>
        </form>
      </div>
    </div>

    <div class="col-sm-6" style="background-color: rgba(0,0,0,0.8); padding-top: 2%;">
      <div style="margin-bottom: 12%;">
        <div class="md-form" style="margin-bottom: 3%;">
          <textarea
            type="text"
            [(ngModel)]="newPostText"
            class="md-textarea form-control"
            rows="3"
            placeholder="{{ 'event_page.write_a_post' | translate }}"
          ></textarea>
        </div>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="sendPost()">
          {{ 'event_page.send' | translate }}
        </button>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="openPollCreatorModal()">
          {{ 'event_page.create_a_poll' | translate }}
        </button>
      </div>
      <div *ngFor="let news of newsList | slice: 0:numberOfNewsToShow">
        <app-poll-block
          *ngIf="news.type === 'POLL'"
          [pollId]="news.id"
          [eventId]="eventId"
        ></app-poll-block>
        <app-post-block
          *ngIf="news.type === 'POST'"
          [postId]="news.id"
          [eventId]="eventId"
        ></app-post-block>
      </div>
      <div style="background-color: rgba(0,0,0,0.9); margin-bottom: 3%;">
        <input
          *ngIf="newsLength > this.numberOfNewsToShow"
          type="button"
          class="btn btn-outline-light btn-block"
          (click)="showMoreNews()"
          value="{{ 'event_page.load_more' | translate }}"
        />
      </div>
    </div>

    <div class="col-sm-3">
      <div class="info-div shadow p-3 mb-5 rounded border">
        <p>
          <span>{{ 'event_page.event_info.title' | translate }}</span>
        </p>
        <p>
          <span>{{ 'event_page.event_info.name' | translate }}</span> {{ name }}
        </p>
        <p>
          <span>{{ 'event_page.event_info.type' | translate }}</span> {{ type }}
        </p>
        <p>
          <span>{{ 'event_page.event_info.date' | translate }}</span>
          {{ date | date: 'yyyy-MM-dd HH:mm' }}
        </p>
        <p>
          <span>{{ 'event_page.event_info.address' | translate }}</span> {{ address }}
        </p>
        <p>
          <span>{{ 'event_page.event_info.description' | translate }}</span> {{ description }}
        </p>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          *ngIf="isOrganizer"
          (click)="openModifyEventInfoModal()"
        >
          {{ 'event_page.modify' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          *ngIf="isOrganizer"
          (click)="deleteEvent()"
        >
          {{ 'event_page.delete_event' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          *ngIf="isOrganizer === false"
          (click)="leaveEvent()"
        >
          {{ 'event_page.leave_event' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-view-request-modal [eventId]="eventId"></app-view-request-modal>
<app-invitation-offers-modal [eventId]="eventId"></app-invitation-offers-modal>
<app-event-participants-modal
  [eventId]="eventId"
  [organizerEmail]="organizerEmail"
></app-event-participants-modal>
<app-modify-event-info-modal [eventId]="eventId"></app-modify-event-info-modal>
<app-poll-creator-modal [eventId]="eventId"></app-poll-creator-modal>
