.container {
  text-align: left;
}

.participant-div {
  background-color: rgba(0, 0, 0, 0.8);
}

.info-div {
  background-color: rgba(0, 0, 0, 0.8);
}

.participant-div li {
  margin-bottom: 5%;
}

button {
  margin-right: 2%;
}
