<ngx-smart-modal #pollCreatorModal identifier="pollCreatorModal" style="color: black; text-align: left;">
  <h3 style="margin-bottom: 10%;">Create new poll</h3>
  <div class="container">
    <form class="main-container">
      <div class="form-group row">
        <div class="col-sm">
          <label for="question">Question text</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="questionText"
            name="question"
            id="question"
            placeholder="Question text"
          />
        </div>
      </div>
      <div *ngFor="let answer of answers">
        <div class="form-group row">
          <div class="col-sm">
            <label [for]="answer.answerId"> {{ answer.id }} </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="answer.text"
              [name]="answer.answerId"
              [id]="answer.answerId"
              placeholder="Answer text"
            />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm">
          <input type="button" value="Add answer" (click)="addAnswer()" />
          <input type="button" *ngIf="answers.length > 0" value="Remove answer" (click)="removeAnswer()" />
        </div>
      </div>
      <div class="form-group row" style="text-align: center;">
        <div class="col-sm">
          <input type="button" value="Create poll" (click)="createPoll()" />
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>
