<div class="container main-container p-3 mb-5 rounded border" style="text-align: left;">
  <div class="row">
    <div class="col font-weight-bold">
      {{ text }}
    </div>
  </div>
  <div class="row">
    <div class="col small">{{ date | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
  </div>
  <hr style="border-color: gray;" />
  <div class="row" *ngFor="let answerId of answerIds">
    <div class="col">
      <app-poll-answer [answerId]="answerId"></app-poll-answer>
    </div>
  </div>
  <div class="row" style="margin-top: 1%;">
    <div class="col-7">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newAnswerText"
        placeholder="Enter a new option"
      />
    </div>
    <div class="col">
      <button type="button" class="btn-sm btn-outline-light" (click)="createNewAnswer()">
        Add new option
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="deletePoll()"
        style="margin-left: 1%;"
        *ngIf="shouldShowDeleteButton"
      >
        Delete
      </button>
    </div>
  </div>
</div>
