body {
  text-align: center;
  background-image: url('https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.page-title {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: 'Bookman';
  font-weight: bold;
  margin-bottom: 3%;
}
